a > span.site-name {
  display none
}

@media (prefers-reduced-motion) {
  path {
    animation: none !important;
    stroke-dasharray: unset !important;
  }
}
@keyframes grow {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 1500px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dasharray: 1500px 0;
  }
  /* Moving back */
  85% {
    stroke-dasharray: 1500px 0;
  }
  95%, to {
    stroke-dasharray: 0 1500px;
  }
}
path {
  stroke-dashoffset: 1px;
  stroke-dasharray: 1500px 0;
  animation: grow 10s ease forwards infinite;
  transform-origin: center;
  stroke: #303030;
  animation-delay: 0s;
}